.aplicaciones h3 {
  margin-top: 20px;
}
.aplicacionesImage {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  margin-top: 20px;
}

.aplicacionesImage img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.aplicacionesImage :hover {
  cursor: pointer;
}

.overlay-content-aplicaciones {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 20px;
}

.overlay-content-aplicaciones i {
  color: #fff;
  font-size: 30px;
  margin-top: 45%;
  margin-left: 42%;
}

.aplicacionesImage:hover .overlay-content-aplicaciones {
  background-color: #1a1a1abf;
  opacity: 1;
}

#myImg00 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg00:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal00 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999999; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content00 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption00 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content00,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close00 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close00:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Slider BTN */

.aplicaciones-slider-image-contaner {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#aplicaciones-slider-left-btn {
  top: 50%;
  left: 50px;
  color: #fff;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
}

#aplicaciones-slider-right-btn {
  top: 50%;
  right: 50px;
  color: #fff;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
}

@media (max-width: 650px) {
  .aplicacionesImage {
    /* display: inline-block;
    margin-right: 20px;
    position: relative;
    margin-top: 20px; */
    width: 40%;
    float: right;
  }
  .aplicacionesImage img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
